h1 {
    color: #ff0000;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 5px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    text-align: center;
    letter-spacing: 1px;
}

a {
    color: chocolate;
    font-size: 10pt;
    text-align: right;
    text-shadow: 1px 1px 1px rgb(5, 253, 100);
}

a:hover {
    color: black;
    text-decoration: line-through;
}
